body {
  direction: rtl;
  background-image: url('https://i.pinimg.com/originals/c4/53/5c/c4535c40c5fb932efc4eb9054e869386.jpg');
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  position: fixed;
  margin: 15px;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  height: 370px;
  background-color: white;
  border-radius: 10%;
  color: black;
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: right;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}





form {
  width: 250px;
  position: fixed;
  margin: 15px;
  left: 50%;
  margin-left: -125px;


}
form .question input[type="text"] {
  appearance: none;
  background-color: none;
  border: 1px solid #ff4a56;
  line-height: 0;
  font-size: 17px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  color: #ff4a56;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}
form {
	background: #ff4a56;
	color: white;
	margin-top: 30px;
}


form .question input[type="password"] {
  appearance: none;
  background-color: none;
  border: 1px solid #ff4a56;
  line-height: 0;
  font-size: 17px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  color: #ff4a56;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}
form .question input[type="password"]:focus {
  outline: none;
  background: white;
  color: black;
  margin-top: 30px;
}
form .question input[type="text"]:focus {
  outline: none;
 }

.btn-red {
	color: white;
	background-color: red;
}

.btn-yellow {
	color: white;
	background-color: yellow;
}

.btn-blue {
	color: white;
	background-color: blue;
}